.order-section {
  background: url(./../../img/bg-order.png) center top no-repeat;
  background-size: cover;
  //fill: solid #2B2B2B;
  //fill-opacity: .4;
  color: #fff;
  &__title {
    color: #fff;
    margin-bottom: 59px;
  }
}

